function Ball.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 252
pop this 0
push constant 124
pop this 1
push constant 1
neg
pop this 2
push constant 0
pop this 3
push constant 8
pop this 4
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 4
add
push this 1
push this 4
add
call Screen.drawRectangle 4
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.moveUp 0
push argument 0
pop pointer 0
push this 1
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 4
add
push constant 1
sub
push this 0
push this 4
add
push this 1
push this 4
add
call Screen.drawRectangle 4
pop temp 0
push this 1
push constant 2
sub
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 4
add
push this 1
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Ball.moveDown 0
push argument 0
pop pointer 0
push this 1
push this 4
add
push constant 254
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 4
add
push this 1
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push this 1
push constant 2
add
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 4
add
push constant 1
sub
push this 0
push this 4
add
push this 1
push this 4
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Ball.moveRight 0
push argument 0
pop pointer 0
push this 0
push this 4
add
push constant 510
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 1
add
push this 1
push this 4
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
add
pop this 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 4
add
push constant 1
sub
push this 1
push this 0
push this 4
add
push this 1
push this 4
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Ball.moveLeft 0
push argument 0
pop pointer 0
push this 0
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 4
add
push constant 1
sub
push this 1
push this 0
push this 4
add
push this 1
push this 4
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
sub
pop this 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 1
add
push this 1
push this 4
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push this 3
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Ball.moveDown 1
pop temp 0
label IF_FALSE0
push this 3
push constant 1
neg
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Ball.moveUp 1
pop temp 0
label IF_FALSE1
push this 2
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Ball.moveRight 1
pop temp 0
label IF_FALSE2
push this 2
push constant 1
neg
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Ball.moveLeft 1
pop temp 0
label IF_FALSE3
push constant 0
return
function Ball.checkCollision 1
push argument 0
pop pointer 0
push argument 1
call Paddles.getY 1
pop local 0
push this 1
push local 0
push constant 1
sub
gt
push this 1
push local 0
push constant 51
add
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 11
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop this 2
push this 1
push constant 128
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
pop this 3
goto IF_END2
label IF_FALSE2
push constant 1
neg
pop this 3
label IF_END2
label IF_FALSE1
push this 0
push constant 492
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
neg
pop this 2
push this 1
push constant 128
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 1
pop this 3
goto IF_END4
label IF_FALSE4
push constant 1
neg
pop this 3
label IF_END4
label IF_FALSE3
label IF_FALSE0
push this 1
push constant 1
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 1
pop this 3
label IF_FALSE5
push this 1
push constant 245
gt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 1
neg
pop this 3
label IF_FALSE6
push this 0
push constant 1
lt
push this 0
push constant 501
gt
or
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 4
add
push this 1
push this 4
add
call Screen.drawRectangle 4
pop temp 0
push constant 252
pop this 0
push constant 124
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 4
add
push this 1
push this 4
add
call Screen.drawRectangle 4
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
label IF_FALSE7
push constant 0
return
